{extend name="layout" /}

{block name="title"}首页{/block}

{block name="css"}
<link rel="stylesheet" href="/static/css/index/index.css">
{/block}

{block name="meta"}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="javascript,js,心叶的个人博客,web,php,thinkphp,前端,python">
<meta name="description" content="心叶的个人博客，记录个人学习笔记的博客小站，主要涉及前端，js，javascript，偶尔也会学学python，php等">
<meta name="baidu-site-verification" content="pztzMIdK5q"/>
<meta name="sogou_site_verification" content="ObQz3swg8n"/>
{/block}

{block name="content"}
<div>
<!--分割线-->
<div class="line">
    <div class="title">
        <span>推荐</span>文章
    </div>
    <hr>
</div>
</div>
<!--文章列表-->
{volist name='article' id='val'}
<a href="/detail/{$val.id}">
    <div class="article">
        <div class="title">
            {$val.title}
        </div>

        <div class="body layui-row" style="height: 100px">
            <div class="image layui-col-lg12">
                <img src="http:{$val.image}" alt="">
            </div>
            <div class="content">
                {$val.desc}
            </div>
            <div class="btn layui-hide-xs layui-hide-sm">
                阅读全文
            </div>
        </div>

        <div class="desc">
            作者: 心叶 发布时间: {$val.create_time} 标签: {$val.labels}
        </div>
    </div>
</a>
<div class="article-line"></div>
{/volist}

{$page|raw}
{/block}

{block name="js"}
{/block}